.Form {
    text-align: left;
    padding: 40px;
} 

.Form input {
    width: 100%;
    height: 32px;
    margin: 10px 0;
    border: solid 1px grey;
    border-radius: 16px;  
    margin-bottom: 40px;     
}

#textarea {    
    height: 132px;       
}

.Form label {
    
    font-weight: bold;
}

.button {
    background-color: rgb(69, 184, 238);
    color: white;
    font-weight: bold;
    height: 32px;
    border-radius: 16px;
    border-color:  rgb(69, 184, 238);;
}